## Changelog

All notable changes to this repository are documented in [CHANGELOG.md](${{ env.REPOSITORY_GITHUB_URL }}/blob/${{ env.REPOSITORY_DEFAULT_BRANCH }}/CHANGELOG.md).

The format is based on [keep a changelog](https://keepachangelog.com/en/1.0.0/), and this project adheres to [semver](https://semver.org/spec/v2.0.0.html).
