## Contributing

The main purpose of this repository is to continue evolving _${{env.REPOSITORY_FULL_NAME}}_, making it more secure and easier to use. Development of this library happens in the open on GitHub, and we are grateful to the community for contributing bugfixes and improvements. Read below to learn how you can take part in improving _${{env.REPOSITORY_FULL_NAME}}_.
